:root {
    --color-primary: #0066BE;
    --color-secondary: #008BF2;
    --color-tertiary: #00428C;
    --color-background: #F0F9FF;
    --color-common: #1A1A1A;
    --color-common2: #666666;
    --color-link-default: #00118F;
    --color-link-visited: #8B008B;
    --color-accent: #FB5B01;
    --color-success: #259D63;
    --color-error: #EC0000;
    --color-warning: #B78F00;
}