:root {
    --color-primary: #0066BE;
    --color-secondary: #008BF2;
    --color-tertiary: #00428C;
    --color-background: #FFFFFF;
    --color-common: #1A1A1A;
    --color-common2: #666666;
    --color-common3: #F2F2F2;
    --color-link-default: #00118F;
    --color-link-visited: #8B008B;
    --color-accent: #FB5B01;
    --color-success: #259D63;
    --color-error: #EC0000;
    --color-warning: #B78F00;
}

html {
    font-family: "Noto Sans JP", sans-serif;
    background-color: var(--color-background);
    color: var(--color-common);
}

/* レイアウト */
body {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 0 20px;

    max-width: 1200px;
    padding: 10px;
}

body > * {
    grid-column: col-start / span 12;
}

header {
    font-size: 32px;
    font-weight: bold;
}

footer {
    border-top: 1px solid var(--color-common2);
    color: var(--color-common2);
    padding-top: 5px;
    font-size: 14px;
}

nav {
    overflow-x: auto;
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 1px solid var(--color-common3);
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

nav a,
nav a:any-link {
    padding: 16px 20px;
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

nav a[aria-current] {
    color: var(--color-primary);
}

nav a[aria-current]::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 4px solid var(--color-primary);
    content: "";
}

@media (hover: hover) {
    nav a:hover {
        background-color: var(--color-common3);
    }
}

@media (width >= 768px) {
    aside {
        grid-column: col-start / span 3;
        grid-row: 3;
    }
    .ad {
        grid-column: col-start / span 3;
        grid-row: 4;
    }
    main,
    footer {
        grid-column: col-start 4 / span 9;
    }
    nav ul {
        display: flex;
    }
}

/* タイポグラフィ */
h1 {
    border-bottom: 4px solid var(--color-primary);
    padding-bottom: 10px;
}

h2 {
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 5px;
}

h2::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: var(--color-secondary);
    margin-right: 10px;
}

h3::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: var(--color-tertiary);
    margin-right: 10px;
}

p,
li,
dd {
    line-height: 1.6;
}

dt {
    font-weight: bold;
    margin: 5px 0;
}

a {
    color: var(--color-link-default);
}

a:visited {
    color: var(--color-link-visited);
}

a:hover,
a:active {
    color: var(--color-accent);
    text-decoration: none;
}

a[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 0.1rem;

    background-size: 100%;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 48 35' role='img'><path d='M22 6V9H9V39H39V26H42V42H6V6H22ZM42 6V20H39V11.2L21 29L19 27L36.8 9H28V6H42Z'/></svg>");
}

pre {
    background-color: var(--color-common);
    white-space: pre-wrap;
    padding: 0 1rem;
    border-radius: 4px;
}

code {
    font-family: "Noto Sans Mono", monospace;
    font-size: 0.9rem;
    background-color: var(--color-common2);
    color: var(--color-background);
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 4px;
}

pre code {
    background-color: var(--color-common);
    padding: 0;
    margin: 0;
    border-radius: 0;
}